<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Bootstrap Navbar Tutorial</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Navbar Container -->
    <div class="container">

        <!-- Navbar Header [contains both toggle button and navbar brand] -->
        <div class="navbar-header">
            <!-- Toggle Button [handles opening navbar components on mobile screens]-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
            <i class="glyphicon glyphicon-align-center"></i>
            </button>

            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
            </a>
        </div>


        <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
        <div class="collapse navbar-collapse" id="exampleNavComponents">

            <!-- Navbar Menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a th:href="@{/adminAccount}">Admin</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a th:href="@{/adminFeedbackAccount}">Feedback</a>
                </li>

                <!-- Navbar link with a dropdown menu -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Dashboard</a></li>
                        <li><a th:href="@{/login}">Log out</th></a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
<div id="welcome">
    <!--<H2><span th:text="Welcome+' '+${AdminName}"></span></H2>-->
</div>
<div class="jumbotron">

</div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Satisfaction</th>
            <th>Difficulty</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customer}">
            <td><a th:href="@{/customer/{customerID}/course_progression(customerID= ${customer.id})}"><span
                    th:text="${customer.firstname} +' '+ ${customer.lastname}">Customer Name</span></a></td>
            <td><span th:text="${customer.feedback.satisfaction}"></span> </td>
            <td><span th:text ="${customer.feedback.diffuclty}"></span></td>
            <td><span th:text = "${comments}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>