<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Bootstrap Navbar Tutorial</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Navbar Container -->
    <div class="container">

        <!-- Navbar Header [contains both toggle button and navbar brand] -->
        <div class="navbar-header">
            <!-- Toggle Button [handles opening navbar components on mobile screens]-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
            <i class="glyphicon glyphicon-align-center"></i>
            </button>

            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
            </a>
        </div>


        <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
        <div class="collapse navbar-collapse" id="exampleNavComponents">

            <!-- Navbar Menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a th:href="@{'/admin/' +${adminID}}">Admin</a>
                </li>
                <li>
                    <a th:href="@{'/admin/'+${loginID}+'/createcoursedate'}">Create Course</a>
                </li>
                <li>
                    <a href="#">Course Info</a>
                </li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
</body>
<div class="jumbotron">
<div id="welcome">
    <H2><span th:text="Welcome+' '+${AdminName}"></span></H2>
</div>
<div id="customerSearch">
    <h2>Search</h2>
    <form action="#" th:action="@{/admin_search}" th:object="${searchQuery}" method="post">
        <input name="search"
               id="search" type="text"/>
        <input type="submit" value="submit"/>
    </form>
</div>
<div id="address">
    <h2>Address</h2>
    <span th:text="${houseNumber}">house number</span>
    <span th:text="${houseName}">house name</span>
    <span th:text="${street}">street</span> <br>
    <span th:text="${postcode}">post code</span> <br>
    <span th:text="${city}">city</span> <br>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>Test Name</th>
        <th>Mark</th>
        <th>Pass/Fail</th>
        <!--<th>Total</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${results}">
    <!--<p th:text="${totalPass + '/' + totalResults}"></p>-->
        <td><span th:text="${r.candidateReferenceId.firstName} + ' ' + ${r.candidateReferenceId.lastName}"></span></td>
        <td><span th:text="${r.typeOfTest}"></span></td>
        <td><span th:text="${r.mark}"></span></td>
        <td><span th:text="${r.passfail}"></span></td>
    <!--<td><span th:text="${totalResults}"></span></td>-->
    </tbody>
    </tr>
    <thead>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Subscription Paid?</th>
        <th>Hours of Flying</th>
        <th>Has Disability?</th>
        <th>English Speaking Level</th>
        <th>Preferred GS Location</th>
        <th>Insured</th>
        <th>Access</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td><a th:href="@{/customer/{customerID}/course_progression(customerID= ${customer.id})}"><span
                th:text="${customer.firstName} +' '+ ${customer.lastName}">Customer Name</span></a></td>
        <td><span th:text="${customer.dob}"> </span></td>
        <td><span th:text="${customer.email}"></span></td>
        <td><span th:text="${customer.phoneNumber}"></span></td>
        <td><span th:text="${customer.paid}"></span></td>
        <td><span th:text="${customer.hoursOfFlying}"></span></td>
        <td><span th:text="${customer.disability}"></span></td>
        <td><span th:text="${customer.englishSpeakingLevel}"></span></td>
        <td><span th:text="${customer.preferredGSLocation}"></span></td>
        <td><span th:text="${customer.insured}"></span></td>
        <td><span th:text="${customer.login.access}"></span></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>