<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Course Date</title>
</head>
<body>
<form action="#" th:action="@{/createcoursedate}" th:object="${course}" method="post">
    <p>Course Name: <input type="text" th:field="*{name}"/></p>
    <p>Course Type: <input type="text" th:field="*{type}"/></p>
    <p>Course Location: <input type="text" th:field="*{location}"/></p>
    <p>City: <input type="text" th:field="*{city}"/></p>
    <p>Date: <input type="date" th:field="*{date}"/></p>
    <button type="submit">Create</button>
</form>
</body>
</html>