<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Bootstrap Navbar Tutorial</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Navbar Container -->
    <div class="container">

        <!-- Navbar Header [contains both toggle button and navbar brand] -->
        <div class="navbar-header">
            <!-- Toggle Button [handles opening navbar components on mobile screens]-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#exampleNavComponents" aria-expanded
            "false">
            <i class="glyphicon glyphicon-align-center"></i>
            </button>

            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
            </a>
        </div>


        <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
        <div class="collapse navbar-collapse" id="exampleNavComponents">

            <!-- Navbar Menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#customerSearch">Search</a>
                </li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <h1>Users</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Subscription Paid?</th>
            <th>Hours of Flying</th>
            <th>Has Disability?</th>
            <th>English Speaking Level</th>
            <th>Preferred GS Location</th>
            <th>Insured</th>
            <th>Access</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td><span th:text="${customer.firstName} +' '+ ${customer.lastName}">Customer Name</span></td>
            <td><span th:text="${customer.dob}"> </span></td>
            <td><span th:text="${customer.email}"></span></td>
            <td><span th:text="${customer.phoneNumber}"></span></td>
            <td><span th:text="${customer.paid}"></span></td>
            <td><span th:text="${customer.hoursOfFlying}"></span></td>
            <td><span th:text="${customer.disability}"></span></td>
            <td><span th:text="${customer.englishSpeakingLevel}"></span></td>
            <td><span th:text="${customer.preferredGSLocation}"></span></td>
            <td><span th:text="${customer.insured}"></span></td>
            <td><span th:text="${customer.login.access}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>