<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Courses</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Navbar Container -->
    <div class="container">

        <!-- Navbar Header [contains both toggle button and navbar brand] -->
        <div class="navbar-header">
            <!-- Toggle Button [handles opening navbar components on mobile screens]-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#exampleNavComponents" aria-expanded
            "false">
            <i class="glyphicon glyphicon-align-center"></i>
            </button>

            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
            </a>
        </div>


        <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
        <div class="collapse navbar-collapse" id="exampleNavComponents">

            <!-- Navbar Menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a th:href="@{'/instructor/'+${instructorID}}">Instructor</a>
                </li>
                <li>
                    <a th:href="@{'/instructor/customers/'+${instructorID}}">Customers</a>
                </li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
</body>
<div class="jumbotron">
    <table class="table">
        <thead>
        <tr>
            <th>City</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <td>
                <p th:text="${course.courseLocation}"></p>
            </td>
            <td>
                <p th:text="${course.courseDate}"></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>