<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <table class="table">
        <thead>
        <tr>City</tr>
        <tr>Date</tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <a th:text="${address}"></a>
            </th>
        </tr>
        <tr>
            <th>
                <a th:text="${date}"></a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>