<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>City</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a th:text="${address}"></a>
            </td>
            <td>
                <a th:text="${date}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>