<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Drones</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/charity.js"></script>
    <script src="/js/js-url-2.5.0/url.js"></script>

</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">Drones</h3>
    </div>
    <div class="jumbotron">
        <h1>Register</h1>
        <form action="#" th:action="@{/register_customer}" th:object= "${login}" method="post" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">
            <p>Username: <input type = "text" th:field="*{username}" required/></p>
            <p>Password: <input type = "password" th:field="*{password}" required/></p>
            <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy</form>
            <a href="/doc/terms.pdf">See terms and conditions</a>
            <input type="submit" name="submit" value="submit">
        </form>
        </form>
    </div>
</div>
</body>
</html>







