<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/register}" th:object= "${register}" method="post">
    <p>First Name: <input type = "text" th:field="*{firstName}" /></p>
    <p>Last Name: <input type = "text" th:field="*{lastName}" /></p>
    <p>Date of Birth: <input type = "date" th:field="*{dob}" /></p>
    <p>Phone Number: <input type = "text" th:field="*{phoneNumber}" /></p>
    <p>Paid: <input type = "checkbox" th:field="*{paid}" /></p>
    <p>Street Address: <input type = "text" th:field="*{address.street}" /></p>
    <p>House Number: <input type = "text" th:field="*{address.houseNumber}"/></p>
    <p>House Name: <input type = "text" th:field="*{address.houseName}"/></p>
    <p>City: <input type = "text" th:field="*{address.city}"/></p>
    <p>Post Code: <input type = "text" th:field="*{address.postcode}"/></p>
    <p>Email : <input type = "email" th:field="*{email}"/></p>
    <p>English Speaking Level: <input type = "number" th:field="*{englishSpeakingLevel}" /></p>
    <p>Prior hours of flying: <input type = "number" th:field="*{hoursOfFlying}" /></p>
    <p>Preferred Location: <input type = "text" th:field="*{preferredGSLocation}" /></p>
    <!--<p>Preferred location for course: <input type = "checkbox" th:field="*{location}" /></p>-->
    <p>Drone insured: <input type = "checkbox" th:field="*{insured}"/></p>
    <p>Disability: <input type = "text" th:field="*{disability}"/></p>
    <p>Access: <input type = "text" th:field="*{login.access}"</p>
    <p>Username: <input type = "text" th:field="*{login.username}"/></p>
    <p>Password: <input type = "password" th:field="*{login.password}"/></p>
    <button type = "submit" >Submit </button >


</form>
</body>
</html>
